<br><br>
<div class="c">
  <div class="card mb-7" style="max-width: 1200px;">
    <div class="row no-gutters">
      <div class="col-md-5" async>
        <img loading="lazy" src="https://static.t13.cl/images/original/2018/07/1532249407-102561197bank60k.jpg"
          class="card-img aero" alt="airbus">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h4 class="text-center"> Login</h4>
          <br>
          <div class="tab-content" id="pills-tabContent">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">Correo Electronico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">Firebase</a>
              </li>
            </ul>

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <form [formGroup]="loginForm" autocomplete="nope">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" required
                    autocomplete="nope">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                    required>
                </div>
                <div *ngIf="cont; else contador">
                  <button type="submit" class="btn btn-success btn-lg btn-block"
                    (click)="onLoginApi(loginForm.value)" >Login</button>
                  <button type="submit" class="btn btn-danger btn-lg btn-block" routerLink="/home">Cancelar</button>
                  <br>
                </div>
                <ng-template #contador>
                  <button type="submit" class="btn btn-success btn-lg btn-block"
                    (click)="onLoginApi(loginForm.value)" disabled>Login</button>
                  <button type="submit" class="btn btn-danger btn-lg btn-block" routerLink="/home">Cancelar</button>
                  <br>
                </ng-template>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <form [formGroup]="loginForm" autocomplete="nope">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" required
                    autocomplete="nope">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                    required>
                </div>
                <div>
                  <button type="submit" class="btn btn-success btn-lg btn-block"
                    (click)="onLogin()">Login</button>
                  <button type="submit" class="btn btn-danger btn-lg btn-block" routerLink="/home">Cancelar</button>
                  <br>
                  <p>
                    Olvide mi contraseña.<a [routerLink]="['/password']"> Click here</a>
                  </p>
                </div>
              </form>
              <div>
                <a class="btn btn-social-icon btn-twitter">
                  <span class="fa fa-twitter"></span>
                </a>
                <a class="btn btn-social-icon btn-facebook" (click)="onFacebook()">
                  <span class="fa fa-facebook"></span>
                </a>
                <a class="btn btn-social-icon btn-google" (click)="onGoogle()">
                  <span class="fa fa-google"></span>
                </a>
                <a class="btn btn-social-icon btn-github" (click)="onGitHub()">
                  <span class="fa fa-github"></span>
                </a>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>