<div class="card w-75">
    <div class="card-body">
        <h1 class="card-title">Politicas de Privacidad</h1>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                        aria-controls="v-pills-home" aria-selected="true">Inicio</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false">¿Para qué fines utilizaremos sus datos
                        personales?
                    </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                        aria-controls="v-pills-messages" aria-selected="false">¿Qué datos personales utilizaremos para
                        estos fines?</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">¿Con quién compartimos su información
                        personal y para qué fines?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings1"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">¿Cómo puede acceder,
                        rectificar o cancelar sus datos personales, u
                        oponerse a su uso?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings2"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">¿Cómo puede revocar su
                        consentimiento para el uso de sus datos
                        personales?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings3"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">El uso de tecnologías de
                        rastreo en nuestro portal de Internet
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings4"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">¿Cómo puede conocer los
                        cambios a este aviso de privacidad?
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings5"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">Versión.</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">Aerovías de Roque S.A de C.V (en lo sucesivo denominado
                        “AeroRoque”), con
                        domicilio en Colonia Santa catarina, calle esquipulas #266. C.p 30470 Villaflores,
                        Chiapas., México., es el responsable del uso y protección de sus datos personales</div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <p>
                            Los datos personales que recabamos de usted, los utilizaremos para las siguientes
                            finalidades que son necesarias para el servicio que solicita:
                        </p>
                        <a><i>● Proporcionar información a su cuenta o perfil.</i></a><br>
                        <a><i>● Verificar tu identidad en cumplimiento de exigencias legales. </i></a><br>
                        <a><i>● Facilitar el contacto directo con un administrador para efectos de la
                                transacción que deseas realizar. </i></a><br>
                        <a><i>● Notificar demoras, cancelaciones y confirmaciones de vuelos.
                            </i></a><br>
                        <a><i>● Mantener un registro de las operaciones o compras que realices, así como
                                informarte acerca de las mismas. </i></a><br><br>
                        <p>
                            De manera adicional, utilizaremos su información personal para las siguientes
                            finalidades que no son necesarias para el servicio solicitado, pero que nos permiten
                            y facilitan brindarle una mejor atención:
                        </p>

                        <a><i>● Marketing. Utilizamos sus datos personales para enviarle correos
                                electrónicos sobre características, productos, servicios y promociones que
                                puedan ser de su interés.
                            </i></a><br>
                        <a><i>● Contactarlo para conocer su opinión sobre su experiencia del vuelo
                                realizado.
                            </i></a><br>
                        <a><i>● Encuestas, evaluación de los servicios de transporte aéreo brindados.
                            </i></a><br><br>

                        <p>En caso de que no desee que sus datos personales sean tratados para estos fines
                            adicionales, desde este momento usted nos puede comunicar lo anterior, enviando
                            su solicitud a nuestro oficial de privacidad, en caso de si no desea recibir correos
                            electrónicos u otras comunicaciones nuestras, al correo
                            SoporteAeroroque@gmail.com, quien realizará el procedimiento a seguir para
                            ejercer su derecho.
                        </p>
                        <p>La negativa para el uso de sus datos personales para estas finalidades no podrá ser
                            un motivo para que le neguemos los servicios y productos que solicita o contrata con
                            nosotros.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad,
                            utilizaremos los siguientes datos personales: </p>
                        <a><i>(1) Datos de identificación. </i></a><br>
                        <a><i>(2) Datos de contacto. </i></a><br><br>

                        <p>Además de los datos personales mencionados anteriormente, para las finalidades
                            informadas en el presente aviso de privacidad utilizaremos los siguientes datos
                            personales considerados como sensibles, que requieren de especial protección.
                        </p>
                        <a><i>(1) Datos sobre características físicas.</i></a><br>
                        <a><i>● Discapacidades y/o movilidad reducida.</i></a><br>
                        <a><i>● Condiciones médicas que deben tomarse en consideración para poder volar.</i></a><br>
                        <a><i>● En caso de mujeres embarazadas. Información sobre el periodo de
                                gestación en el que se encuentra.</i></a><br>
                        <a><i>● Constancia médica para situaciones de reembolsos.</i></a><br><br>

                        <a><i>(2) Datos personales de menores de edad y personas en estado de
                                interdicción.</i></a><br><br>
                        <h5>
                            No recabamos datos personales sensibles a través de medios de obtención
                            directa o indirecta, sino únicamente cuando usted nos los entrega
                            personalmente. Esta información es con el objetivo de brindarle una
                            adecuada atención en relación con el servicio de transporte aéreo.
                        </h5>

                        <h5>
                            El titular que nos proporcione datos personales de menores o interdictos,
                            manifiesta bajo protesta de decir verdad que ejerce sobre ellos la patria
                            potestad o tutela, y acepta en su representación los términos del presente
                            aviso de privacidad.
                        </h5>

                        <h5>
                            Para ello será necesario contar previamente con su consentimiento expreso
                            y por escrito mediante la firma del presente aviso de privacidad, que le será
                            entregado personalmente. Estos datos de privacidad personales
                            denominados como sensibles, serán tratados bajo estrictas medidas de
                            seguridad y confidencialidad.
                        </h5>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>Le informamos que sus datos personales son compartidos dentro y fuera del país
                            con las siguientes personas, empresas, organizaciones y autoridades distintas a
                            nosotros, para los siguientes fines: </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Destinatario de los datos
                                        personales</th>
                                    <th scope="col">País
                                        (opcional)</th>
                                    <th scope="col">Finalidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Aerolíneas pertenecientes a Skyteam.</td>
                                    <td>Nacionales y extranjeras</td>
                                    <td>Con la finalidad de procurar una
                                        mayor seguridad en nuestros
                                        vuelos.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Autoridades gubernamentales. </td>
                                    <td>Nacionales y
                                        extranjeras.</td>
                                    <td>Con la finalidad de atender sus
                                        requerimientos sobre registro de
                                        pasajeros
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Autoridades migratorias y
                                        aduaneras del país de origen
                                        y los países hacia donde
                                        vuela.
                                    </td>
                                    <td>Nacionales y
                                        extranjeras.
                                    </td>
                                    <td>Con la finalidad de cumplir con
                                        las disposiciones legales
                                        correspondientes, así como en
                                        caso de que el pasajero lo
                                        requiera por cuestiones de salud
                                        o para facilitarle el abordaje de
                                        su vuelo.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Autoridades.
                                    </td>
                                    <td>Nacionales y
                                        extranjeras.
                                    </td>
                                    <td>Con la finalidad de cumplir con
                                        las disposiciones legales
                                        correspondientes, así como para
                                        el esclarecimiento de incidentes,
                                        ejercicio de algún derecho, tratar
                                        situaciones sanitarias, atender
                                        casos de emergencia o fuerza
                                        mayor.
                                    </td>
                                </tr>
                            </tbody>
                        </table> <br>
                        <p>Si usted no manifiesta su negativa para dichas transferencias, entenderemos que
                            nos lo ha otorgado. Puede manifestar su negativa desde este momento enviando un
                            correo electrónico a nuestro oficial de privacidad ,al correo
                            SoporteAeroroque@gmail.com, quien realizará el procedimiento a seguir para
                            ejercer su derecho.
                        </p>

                    </div>
                    <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>
                            Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los
                            utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su
                            derecho solicitar la corrección de su información personal en caso de que esté
                            desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de
                            nuestros registros o bases de datos cuando considere que la misma no está siendo
                            utilizada conforme a los principios, deberes y obligaciones previstas en la normativa
                            (Cancelación); así como oponerse al uso de sus datos personales para fines
                            específicos (Oposición). Estos derechos se conocen como derechos ARCO.

                        </p><br>
                        <p>
                            Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la
                            solicitud respectiva a través de un correo electrónico dirigido a nuestro oficial de
                            privacidad, quién le informará sobre el procedimiento y requisitos para el ejercicio
                            de esos derechos, plazos de respuestas, la forma en que lo haremos efectivo su
                            derecho, y atenderá cualquier duda, queja o comentario que tenga al respecto.
                        </p><br>
                        <p>
                            Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO,
                            usted podrá llamar al siguiente número telefónico 965 106 56 94; ingresar a nuestro
                            sitio de Internet Aeroroque.com a la sección Aviso y politicas de privacidad, o bien
                            ponerse en contacto con nuestro Departamento de Privacidad, que dará trámite a
                            las solicitudes para el ejercicio de estos derechos, y atenderá cualquier duda que
                            pudiera tener respecto al tratamiento de su información. Los datos de contacto del
                            Departamento de Privacidad son los siguientes:
                        </p><br>
                        <a><i>
                                Colonia Santa catarina, calle esquipulas #266. C.p 30470 Villaflores, Chiapas.,
                                México. Tel. 965 106 56 94. Email. SoporteAeroroque@gmail.com
                            </i></a>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>
                            Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el
                            tratamiento de sus datos personales. Sin embargo, es importante que tenga en
                            cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de
                            forma inmediata, ya que es posible que por alguna obligación legal requiramos
                            seguir tratando sus datos personales. Asimismo, usted deberá considerar que para
                            ciertos fines, la revocación de su consentimiento implica que no le podamos seguir
                            prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
                        </p>
                        <p>
                            Para revocar su consentimiento deberá presentar su solicitud a través de un correo
                            electrónico dirigido a nuestro oficial de privacidad, quién le informará sobre el
                            procedimiento y requisitos para el ejercicio de esos derechos, plazos de respuestas,
                            la forma en que lo haremos efectivo su derecho, y atenderá cualquier duda, queja o
                            comentario que tenga al respecto.
                        </p>
                        <p>
                            Para conocer el procedimiento y requisitos para la revocación del consentimiento,
                            usted podrá llamar al siguiente número telefónico 965 106 56 94; ingresar a nuestro
                            sitio de Internet Aeroroque.com a la sección Aviso y políticas de privacidad, o bien
                            ponerse en contacto con nuestro Departamento de Privacidad.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings3" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y
                            otras tecnologías a través de las cuales es posible monitorear su comportamiento
                            como usuario de Internet, así como brindarle un mejor servicio y experiencia de
                            usuario al navegar en nuestra página. Los datos personales que obtenemos de estas
                            tecnologías de rastreo son los
                            siguientes: </p>
                        <a><i>● Su dirección IP.</i></a><br>
                        <a><i>● Información del tipo de explorador que utiliza.</i></a><br>
                        <p>
                            Mismos que utilizamos para:
                        </p>
                        <a><i>● Hacerle llegar información relacionada a nuestras promociones.</i></a><br>
                        <a><i>● Enviar información a su correo electrónico relacionado a nuestros destinos
                                actuales y nuevos destinos.</i></a><br><br>
                        <p>
                            Asimismo, le informamos que estos datos serán para uso exclusivo de AeroRoque,
                            por lo tanto dichos datos no serán compartidos con sujetos de transferencias
                            nacionales o internacionales.
                        </p>
                        <p>Estas tecnologías usted podrá deshabilitarlas en cualquier momento.</p>
                        <p>Para mayor información sobre el uso de estas tecnologías, puede consultar nuestra
                            política de cookies ubicada en nuestro sitio web: aeroroque.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings4" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o
                            actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias
                            necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de
                            privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
                        </p>
                        <p>
                            Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el
                            presente aviso de privacidad, a través de:
                        </p>

                        <a><i>● En nuestra página de internet, lo cual sugerimos visite frecuentemente.</i></a><br>
                        <a><i>● Se la podremos hacer llegar al correo electrónico que nos haya
                                proporcionado.</i></a><br>
                        <p>
                            El procedimiento a través del cual se llevarán a cabo las notificaciones sobre
                            cambios o actualizaciones al presente aviso de privacidad es el siguiente:
                        </p>
                        <a><i>(1) En caso de haber modificaciones o actualizaciones al presente Aviso de
                            Privacidad, le llegará una notificación a su correo electrónico proporcionado
                            que se lo haga saber.
                            </i></a><br>
                        <a><i>(2) Acceda a la liga de Aviso de privacidad.</i></a><br>
                        <a><i>(3) Ahí encontrará la versión vigente con la fecha de la más reciente
                            actualización.</i></a>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings5" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab"> 
                        <h3>Última actualización [19/11/2020].</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>