<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center"> Registro</h4>
                <div class="tab-content" id="pills-tabContent">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">Correo Electronico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">Firebase</a>
                        </li>
                    </ul>
                    <!-- Registro Api -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <form [formGroup]="loginForm" autocomplete="nope">
                            <div class="row form-group">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Nombre"
                                        formControlName="nombre" autocomplete="nope" required>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Apellido"
                                        formControlName="apellido" autocomplete="nope" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Correo Electronico"
                                    formControlName="email" autocomplete="nope" required>
                                <!--Validar correo-->
                                <label class="text-danger" *ngIf="loginForm.controls['email'].hasError('email')">
                                    Ingresa una dirección de correo valida!
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Contraseña"
                                    formControlName="password" autocomplete="nope" required>
                                <label *ngIf="f.password.touched && f.password.invalid" class="text-danger">
                                    <label *ngIf="f.password.errors.required">Contraseña requerida.</label>
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('numero')">
                                    La contraseña debe contener un numero.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('mayuscula')">
                                    La contraseña debe contener una mayuscula.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('minuscula')">
                                    La contraseña debe contener un numero.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('caracter')">
                                    La contraseña debe contener un caracter.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('minlength')">
                                    La contraseña debe contener al menos 8 caracteres.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('maxlength')">
                                    La contraseña no debe ser mayor a 15 caracteres.
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña"
                                    formControlName="confirmPasword" minlength="8" maxlength="15" autocomplete="nope"
                                    required>
                                <div *ngIf="f.confirmPasword.touched && f.confirmPasword.invalid" class="text-danger">
                                    <div *ngIf="f.confirmPasword.errors.required">Contraseña requerida.</div>
                                    <div *ngIf="f.confirmPasword.errors.confirmedValidator">Las contraseñas deben
                                        coincidir.</div>
                                </div>
                            </div>
                            <div><br><br>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"
                                    [disabled]="!loginForm.valid" (click) = "onRegister(loginForm.value)">Registrar</button>
                                <button type="submit" class="btn btn-danger btn-lg btn-block"
                                    (click)="cancel()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <!-- Registro Firebase  -->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <form [formGroup]="loginForm" (ngSubmit)="onRegisterFirebase()" autocomplete="nope">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Correo Electronico"
                                    formControlName="email" required autocomplete="nope">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Contraseña"
                                    formControlName="password" autocomplete="nope" required>
                                <label *ngIf="f.password.touched && f.password.invalid" class="text-danger">
                                    <label *ngIf="f.password.errors.required">Contraseña requerida.</label>
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('numero')">
                                    La contraseña debe contener un numero.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('mayuscula')">
                                    La contraseña debe contener una mayuscula.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('minuscula')">
                                    La contraseña debe contener un numero.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('caracter')">
                                    La contraseña debe contener un caracter.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('minlength')">
                                    La contraseña debe contener al menos 8 caracteres.
                                </label>
                                <label class="text-danger" *ngIf="loginForm.controls['password'].hasError('maxlength')">
                                    La contraseña no debe ser mayor a 15 caracteres.
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña"
                                    formControlName="confirmPasword" minlength="8" maxlength="15" autocomplete="nope"
                                    required>
                                <div *ngIf="f.confirmPasword.touched && f.confirmPasword.invalid" class="text-danger">
                                    <div *ngIf="f.confirmPasword.errors.required">Contraseña requerida.</div>
                                    <div *ngIf="f.confirmPasword.errors.confirmedValidator">Las contraseñas deben
                                        coincidir.</div>
                                </div>
                            </div>
                            <div><br><br>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!loginForm.valid">Registrar</button>
                                <button type="submit" class="btn btn-danger btn-lg btn-block"
                                    (click)="cancel()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>