*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c{
    padding-top: 0.1%;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

.b1{
    background-color: #3DA4DF;
    color: white;
    cursor: pointer;
}

.b2{
    background-color: #2588C1;
    color: white;
}

.b3{
    background-color: #1E7DB4;
    color: white;
}

.b4{
    background-color: #742FC7;
    color: white;
}

.b5{
    background-color: #6424B0;
    color: white;
}


.b6{
    background-color: #CB2C12;
    color: white;
    transition: background-color .5s;
}

.b6:hover{
    background-color: #CF6D24;
}

p{
    justify-content: center;
    text-justify: auto;
    padding-top: 1%;
}
