<!-- Para cuando sí esta loggeado -->

<body>
  <div *ngIf="isLog1; else elseBlock">
    <form [formGroup]="registroForm" autocomplete="nope">
      <div class="card-deck c">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Origen</h5>
            <div class="form-row">
              <div class="form-group col-md-11">
                <label for="inputState"></label>
                <select class="custom-select" id="inputGroupSelect01" formControlName="origen">
                  <option *ngFor="let origen of origenes" value="{{origen.nombre_origen}}">{{origen.nombre_origen}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Destino</h5>
            <div class="form-row">
              <div class="form-group col-md-11">
                <label for="inputState"></label>
                <select class="custom-select" id="inputGroupSelect01" formControlName="destino">
                  <option *ngFor="let dest of destino" value="{{dest.nombre_destino}}"
                    (click)="nombreD(dest.nombre_destino)">
                    {{dest.nombre_destino}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Buscar destino</h5>
            <div class="form-row">
              <div class="form-group col-md-11">
                <label for="inputState"></label>
                <button class="btn btn-primary" (click)="buscarVuelos(registroForm.value)">Encontrar vuelos</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>


    <!-- Inicio de la tabla -->
    <div class="card c">
      <div class="card-body ">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Horario</th>
              <th scope="col">Origen</th>
              <th scope="col">Destino</th>
              <th scope="col"><button type="button" class="btn b1" data-toggle="modal" data-target="#exampleModal"><i
                    class="fa fa-user"></i> Basica</button></th>
              <th scope="col"><button type="button" class="btn b2" data-toggle="modal" data-target="#exampleModal"><i
                    class="fa fa-check"></i> Clasica</button></th>
              <th scope="col"><button type="button" class="btn b3" data-toggle="modal" data-target="#exampleModal"><i
                    class="fa fa-user-circle"></i> Plus</button></th>
              <th scope="col"><button type="button" class="btn b4" data-toggle="modal" data-target="#exampleModal"><i
                    class="fa fa-user-plus"></i> Confort</button></th>
              <th scope="col"><button type="button" class="btn b5" data-toggle="modal" data-target="#exampleModal"><i
                    class="fa fa-diamond"></i> Premiere</button></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vuelo of vuelos; index as i">
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">{{vuelo.hora_fecha}}</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">{{vuelo.origen}}</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">{{vuelo.destino}}</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_basica}} MXN</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_clasica}} MXN</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_confort}} MXN</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_plus}} MXN</td>
              <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_premiere}} MXN</td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
                *ngIf="ori == vuelo.origen && de == vuelo.destino" (click)="datosVuelo(vuelo.id)">
                Comprar
              </button>
              <div *ngIf="ori != vuelo.origen && de != vuelo.destino">
                <td>
                  <h5>No se encontraron vuelos con estas caracteristicas.</h5>
                </td>
              </div>
            </tr>
          </tbody>
          <!-- *ngIf= "ori == vuelo.origen" -->
          <!--  *ngIf= "ori == vuelo.origen"-->
        </table>
      </div>
    </div>
    <!-- fin de la tabla -->
  </div>
</body>


<!-- Para cuando no esta loggeado -->
<ng-template #elseBlock>
  <form [formGroup]="registroForm" autocomplete="nope">
    <div class="card-deck c">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Origen</h5>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="inputState"></label>
              <select class="custom-select" id="inputGroupSelect01" formControlName="origen">
                <option *ngFor="let origen of origenes" value="{{origen.nombre_origen}}">{{origen.nombre_origen}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Destino</h5>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="inputState"></label>
              <select class="custom-select" id="inputGroupSelect01" formControlName="destino">
                <option *ngFor="let dest of destino" value="{{dest.nombre_destino}}"
                  (click)="nombreD(dest.nombre_destino)">
                  {{dest.nombre_destino}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Buscar destino</h5>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="inputState"></label>
              <button class="btn btn-primary" (click)="buscarVuelos(registroForm.value)">Encontrar vuelos</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <!-- inicia la tabla -->
  <div class="card c">
    <div class="card-body ">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Horario</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col"><button type="button" class="btn b1" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user"></i> Basica</button></th>
            <th scope="col"><button type="button" class="btn b2" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-check"></i> Clasica</button></th>
            <th scope="col"><button type="button" class="btn b3" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user-circle"></i> Plus</button></th>
            <th scope="col"><button type="button" class="btn b4" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user-plus"></i> Confort</button></th>
            <th scope="col"><button type="button" class="btn b5" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-diamond"></i> Premiere</button></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vuelo of vuelos; index as i">
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">{{vuelo.hora_fecha}}</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">{{vuelo.origen}}</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">{{vuelo.destino}}</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_basica}} MXN</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_clasica}} MXN</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_confort}} MXN</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_plus}} MXN</td>
            <td *ngIf="ori == vuelo.origen && de == vuelo.destino">${{vuelo.precio_premiere}} MXN</td>

            <div *ngIf="ori != vuelo.origen && de != vuelo.destino">
              <h5>No se encontraron vuelos con estas caracteristicas.</h5>
            </div>
          </tr>
        </tbody>
        <!-- *ngIf= "ori == vuelo.origen" -->
        <!--  *ngIf= "ori == vuelo.origen"-->
      </table>
    </div>
  </div>
</ng-template>




<!-- Modal informativo-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Más acerca de las familias tarifarias</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="basica-tab" data-toggle="tab" href="#basica" role="tab"
              aria-controls="basica" aria-selected="true">Basica</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="clasica-tab" data-toggle="tab" href="#clasica" role="tab" aria-controls="clasica"
              aria-selected="false">Clasica</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="plus-tab" data-toggle="tab" href="#plus" role="tab" aria-controls="plus"
              aria-selected="false">Plus</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="confor-tab" data-toggle="tab" href="#confor" role="tab" aria-controls="confor"
              aria-selected="false"><i class="fa fa-user-plus"></i> Confort</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="premiere-tab" data-toggle="tab" href="#confor" role="tab" aria-controls="premiere"
              aria-selected="false"><i class="fa fa-diamond"></i> Premire</a>
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="basica" role="tabpanel" aria-labelledby="basica-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
            <a><i>(1) Unicamente se permite equipaje de mano.</i></a><br>
            <a><i>● Bolsa de mano</i></a><br>
            <a><i>● Mochilas, portafolios, carteras</i></a><br>
            <a><i>● Cámara</i></a><br>
            <a><i>(2) Objetos restringidos.</i></a><br>
            <a><i>● Objetos punzocortantes</i></a><br>
            <a><i>● Encendedores o objetos incendiarios</i></a><br>
          </div>
          <div class="tab-pane fade" id="clasica" role="tabpanel" aria-labelledby="clasica-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
            <a><i>(1) Unicamente se permiten.</i></a><br>
            <a><i>● Dos equipajes de mano</i></a><br>
            <a><i>● Mochilas, portafolios, carteras</i></a><br>
            <a><i>● Equipajes documentados (25kg)</i></a><br>
            <a><i>● Prioridad en abordaje</i></a><br>
            <a><i>● Seleccion de asientos estandar y atención personal</i></a><br>
            <a><i>(2) Objetos restringidos.</i></a><br>
            <a><i>● Objetos punzocortantes</i></a><br>
            <a><i>● Encendedores o objetos incendiarios</i></a><br>
          </div>
          <div class="tab-pane fade" id="plus" role="tabpanel" aria-labelledby="plus-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
            <a><i>(1) Unicamente se permiten.</i></a><br>
            <a><i>● Dos equipajes de mano</i></a><br>
            <a><i>● Mochilas, portafolios, carteras</i></a><br>
            <a><i>● Equipajes documentados (25kg)</i></a><br>
            <a><i>● Viaja con la mayor flexibilidad, el primer cambio en tu vuelo es sin costo</i></a><br>
            <a><i>● Compartimentos exclusivos para equipaje a bordo y asiento AM Plus con espacio extra</i></a><br>
            <a><i>(2) Objetos restringidos.</i></a><br>
            <a><i>● Objetos punzocortantes</i></a><br>
            <a><i>● Encendedores o objetos incendiarios</i></a><br>
          </div>
          <div class="tab-pane fade" id="confor" role="tabpanel" aria-labelledby="confor-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
            <a><i>(1) Unicamente se permiten.</i></a><br>
            <a><i>● Dos equipajes de mano</i></a><br>
            <a><i>● Mochilas, portafolios, carteras</i></a><br>
            <a><i>● Equipajes documentados (Hasta 2 maletas de 25kg)</i></a><br>
            <a><i>● Vuela en Clase Premier y viaja con más espacio personal</i></a><br>
            <a><i>● Disfruta de alimentos exclusivos a bordo</i></a><br>
            <a><i>(2) Objetos restringidos.</i></a><br>
            <a><i>● Objetos punzocortantes</i></a><br>
            <a><i>● Encendedores o objetos incendiarios</i></a><br>
          </div>
          <div class="tab-pane fade" id="premiere" role="tabpanel" aria-labelledby="premiere-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
            <a><i>(1) Unicamente se permiten.</i></a><br>
            <a><i>● Dos equipajes de mano</i></a><br>
            <a><i>● Mochilas, portafolios, carteras</i></a><br>
            <a><i>● Equipajes documentados (Hasta 3 maletas de 25kg o más)</i></a><br>
            <a><i>● Vuela en Clase Premier y viaja con más espacio personal</i></a><br>
            <a><i>● Disfruta de alimentos exclusivos a bordo</i></a><br>
            <a><i>(2) Objetos restringidos.</i></a><br>
            <a><i>● Objetos punzocortantes</i></a><br>
            <a><i>● Encendedores o objetos incendiarios</i></a><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn b6" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registro de pago.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registroForm2" autocomplete="nope">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nombre(s)</label>
              <input type="text" class="form-control" name="client_name" autocomplete="nope" formControlName="name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Apellido(s)</label>
              <input type="text" class="form-control" data-openpay-card="holder_name" autocomplete="nope"
                formControlName="last_name">
            </div>
          </div>
          <div class="form-group">
            <label>Correo Electr&oacute;nico</label>
            <input type="email" class="form-control" autocomplete="nope" name="cliente_email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="inputCity">Destino</label>
            <select id="inputState" class="form-control" formControlName="amount"  >
              <option value="1">Básica</option>
              <option value="2">clásica</option>
              <option value="3">Plus</option>
              <option value="4">Confort</option>
              <option value="5">Premier</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block"
            (click)="comprarVuelo(registroForm2.value)" data-dismiss="modal">Realizar Compra</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>