<body>
  <div *ngIf="isLog1; else elseBlock">
  <div class="card-deck c" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Origen</h5>
        <div class="form-row">
          <div class="form-group col-md-11">
            <label for="inputState"></label>
            <!-- <select id="inputState" class="form-control">
                    <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                        value="{{pais.id}}">{{pais.nombre}}</option>
                </select> -->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">Mexico</option>
              <option value="2">Monterrey</option>
              <option value="3">Tijuana</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Destino</h5>
        <div class="form-row">
          <div class="form-group col-md-11">
            <label for="inputState"></label>
            <!-- <select id="inputState" class="form-control">
                    <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                        value="{{pais.id}}">{{pais.nombre}}</option>
                </select> -->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">New York</option>
              <option value="2">Canadá</option>
              <option value="3">Japón</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fecha</h5>
        <div class="form-row">
          <div class="form-group col-md-11">
            <label for="inputState"></label>
            <!-- <select id="inputState" class="form-control">
                    <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                        value="{{pais.id}}">{{pais.nombre}}</option>
                </select> -->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">20/11/2020</option>
              <option value="2">04/12/2020</option>
              <option value="3">31/12/2020</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card c">
    <div class="card-body ">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Horario</th>
            <th scope="col"><button type="button" class="btn b1" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user"></i> Basica</button></th>
            <th scope="col"><button type="button" class="btn b2" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-check"></i> Clasica</button></th>
            <th scope="col"><button type="button" class="btn b3" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user-circle"></i> Plus</button></th>
            <th scope="col"><button type="button" class="btn b4" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user-plus"></i> Confort</button></th>
            <th scope="col"><button type="button" class="btn b5" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-diamond"></i> Premiere</button></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>$100</td>
            <td>$200</td>
            <td>$400</td>
            <td>$600</td>
            <td>$1000</td>
            <td><button type="button" class="btn b6">Comprar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>



<ng-template #elseBlock>
  <div class="card-deck c">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Origen</h5>
        <div class="form-row">
          <div class="form-group col-md-11">
            <label for="inputState"></label>
            <!-- <select id="inputState" class="form-control">
                    <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                        value="{{pais.id}}">{{pais.nombre}}</option>
                </select> -->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">New York</option>
              <option value="2">Canadá</option>
              <option value="3">Japón</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Destino</h5>
        <div class="form-row">
          <div class="form-group col-md-11">
            <label for="inputState"></label>
            <!-- <select id="inputState" class="form-control">
                    <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                        value="{{pais.id}}">{{pais.nombre}}</option>
                </select> -->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">Mexico</option>
              <option value="2">Monterrey</option>
              <option value="3">Tijuana</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fecha</h5>
        <div class="form-row">
          <div class="form-group col-md-11">
            <label for="inputState"></label>
            <!-- <select id="inputState" class="form-control">
                    <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                        value="{{pais.id}}">{{pais.nombre}}</option>
                </select> -->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">20/11/2020</option>
              <option value="2">04/12/2020</option>
              <option value="3">31/12/2020</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card c">
    <div class="card-body ">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Horario</th>
            <th scope="col"><button type="button" class="btn b1" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user"></i> Basica</button></th>
            <th scope="col"><button type="button" class="btn b2" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-check"></i> Clasica</button></th>
            <th scope="col"><button type="button" class="btn b3" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user-circle"></i> Plus</button></th>
            <th scope="col"><button type="button" class="btn b4" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-user-plus"></i> Confort</button></th>
            <th scope="col"><button type="button" class="btn b5" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa fa-diamond"></i> Premiere</button></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>$100</td>
            <td>$200</td>
            <td>$400</td>
            <td>$600</td>
            <td>$1000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>




<!-- Modal informativo-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Más acerca de las familias tarifarias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="basica-tab" data-toggle="tab" href="#basica" role="tab"
              aria-controls="basica" aria-selected="true">Basica</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="clasica-tab" data-toggle="tab" href="#clasica" role="tab" aria-controls="clasica"
              aria-selected="false">Clasica</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="plus-tab" data-toggle="tab" href="#plus" role="tab" aria-controls="plus"
              aria-selected="false">Plus</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="confor-tab" data-toggle="tab" href="#confor" role="tab" aria-controls="confor"
              aria-selected="false"><i class="fa fa-user-plus"></i> Confort</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="premiere-tab" data-toggle="tab" href="#confor" role="tab" aria-controls="premiere"
              aria-selected="false"><i class="fa fa-diamond"></i> Premire</a>
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="basica" role="tabpanel" aria-labelledby="basica-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
          </div>
          <div class="tab-pane fade" id="clasica" role="tabpanel" aria-labelledby="clasica-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
          </div>
          <div class="tab-pane fade" id="plus" role="tabpanel" aria-labelledby="plus-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
          </div>
          <div class="tab-pane fade" id="confor" role="tabpanel" aria-labelledby="confor-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
          </div>
          <div class="tab-pane fade" id="premiere" role="tabpanel" aria-labelledby="premiere-tab">
            <p>Con el objetivo de cuidar tu salud y la de los demás, hemos implementado un nuevo proceso de embarque
              iniciando el abordaje con las últimas filas y posteriormente el frente del avión. La seguridad es
              responsabilidad de todos, agradecemos tu comprensión.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn b6" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>