<br><br>
<div class="card mt-5">
    <div class="card-body">
        <div class="card-tittle text-center"> Por favor ingresa tu correo!
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" [formControl] = "userEmail" required>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" (click)="forgot()"> Enviar.</button>
                <label type="hidden" style="visibility:hidden">......,..</label>
                <button class="btn btn-danger" routerLink="/home" routerLinkActive="router-link-active" >Cancelar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #load>
    Loading...
</ng-template>