<div class="c">
  <div class="carousel slide" id="main-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
      <li data-target="#main-carousel" data-slide-to="3"></li>
    </ol><!-- /.carousel-indicators -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="https://i.postimg.cc/Ls6mKdrC/jp.jpg" alt="">
        <div class="carousel-caption d-none d-md-block pc">
          <p>Yamete Kudasai (っ•̀ω•̀)╮</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="https://i.postimg.cc/90xn7SxM/ch.jpg" alt="">
        <div class="carousel-caption d-none d-md-block">
          <p >Vení pue vos, conocé Chiapas!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="https://i.postimg.cc/4xGJPHwT/ny.jpg" alt="">
        <div class="carousel-caption d-none d-md-block">
          <p>Disfruta de la gran ciudad de New York.!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/0NLXGDdY/pa.jpg" alt="" class="d-block img-fluid">
        <div class="carousel-caption d-none d-md-block">
          <p>¿Te gusta la aventura? ¡Viaja con nosotros hasta chile para conocer las asombrosas Torres del Paine!</p>
        </div>
      </div>
    </div><!-- /.carousel-inner -->
    <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only" aria-hidden="true">Prev</span>
    </a>
    <a href="#main-carousel" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only" aria-hidden="true">Next</span>
    </a>
  </div><!-- /.carousel -->
</div><!-- /.container -->

<body>
  <!-- Page Content -->
  <div class="card">
    <div class="container">
      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.postimg.cc/tJRc7yNw/aero.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5 covid">
          <h1 class="font-weight-light">Te cuidados durante tu viaje</h1><br>
          <p>Te cuidamos con los protocolos de higiene más estrictos durante todas las etapas de tu viaje.!</p><br>
          <a  type="button" class="btn" href="#">Ver protocolo!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="container">
    <!-- Call to Action Well -->
    <div class="card border-success text-dark my-5 py-4 text-center cd">
      <div class="card-body">
        <h3 class=" m-2 letter">¡La Venta Azul está aquí! Aprovecha estas ofertas!</h3>
        <p>Vuelos redondos saliendo de la Ciudad de México. Las tarifas no incluyen el cargo por Tarifa de Uso de Aeropuerto (TUA).</p>
      </div>
    </div>
    
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-7">
        <div class="card h-100">
          <div class="card-body contenedor">
            <figure>
              <img
              src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/d3/63/3e/hotel-krystal-cancun.jpg?w=600&h=300&s=1"
              class="card-img-top" alt="...">
              <div class="capa">
                <h3>CANCÚN</h3>
                <p>Desde $1,300 MXN.</p><br><br>
                <a href="#"  type="button" class="btn">More Info</a>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-7">
        <div class="card h-100">
          <div class="card-body contenedor">
            <figure>
              <img
              src="https://assets.entrepreneur.com/content/3x2/2000/20180706210902-san-francisco.jpeg?width=700&crop=2:1"
              class="card-img-top" alt="...">
              <div class="capa">
                <h3>SAN FRANCISCO</h3>
                <p>Desde $2,600 MXN.</p><br><br>
                <a href="#"  type="button" class="btn">More Info</a>
              </div>
            </figure>
          </div>

        </div>
      </div>
    </div><br>
    <!-- /.row -->
    <div class="row">
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-7">
        <div class="card h-100">
          <div class="card-body contenedor">
            <figure>
              <img
              src="https://growproexperience.com/wp-content/uploads/2017/10/Vida-en-Australia.jpg"
              class="card-img-top" alt="...">
              <div class="capa">
                <h3>AUSTRALIA</h3>
                <p>Desde $3,100 MXN.</p><br><br>
                <a href="#"  type="button" class="btn">More Info</a>
              </div>
            </figure>
          </div>

        </div>
      </div>
      <div class="col-md-6 mb-7">
        <div class="card h-100">
          <div class="card-body contenedor">
            <figure>
              <img
              src="https://one.cdnmega.com/images/viajes/covers/chiapas1_5dceefe0f3ea0.jpg"
              class="card-img-top" alt="...">
              <div class="capa">
                <h3>CHIAPAS</h3>
                <p>Desde $4,300 MXN.</p><br><br>
                <a href="#"  type="button" class="btn">More Info</a>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>


  </div>
  <!-- /.container -->


  <!-- Footer -->
  <br>
  <footer class="py-5 bg-dark">
    <div class="">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>